@model List<Setting>
@{
    int count = 0;
}
<div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Setting Table</h4>
                  <a class="btn btn-primary" asp-action="create" asp-controller="setting">Create Employee</a>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>
                            No
                          </th>
                          <th>
                            Key
                          </th>
                          <th>
                            Value
                          </th>
                          <th>
                            Settings
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                          @foreach (Setting setting in Model)
                        {
                            count++;
                            <tr>
                                <td>
                                    @count;
                                </td>
                          <td>
                            @setting.Key
                          </td>
                          <td>
                            @setting.Value
                          </td>
                          <td>
                              <a class="btn btn-secondary" asp-action="update" asp-controller="setting" asp-route-id="@setting.Id">Update</a>
                              <a class="btn btn-danger" asp-action="delete" asp-controller="setting" asp-route-id="@setting.Id">Delete</a>
                          </td>
                        </tr>
                        }
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>